<div id="<%= dom_id choice %>">
  <p>
    <%= button_to choice.name, question_choice_answers_path(choice.question, choice)%>
  </p>
  <p>
    <strong>Votes:</strong>
    <%= choice.votes %>
  </p>

</div>
