<div id="<%= dom_id choice %>">
  <p>
    <strong>Name:</strong>
    <%= choice.name %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= choice.question_id %>
  </p>

  <p>
    <strong>Votes:</strong>
    <%= choice.votes %>
  </p>

</div>
