.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darker-gray);
  padding: 1.5rem;
  color: white;
  margin-bottom: 0;

}

.nav-logo-wrapper {
  display: flex;
  align-items: center;
}

.nav-react-logo {
  width: 60px;
  margin-right: 1rem;
  ;
}

.logo-title {
  font-weight: 700;
  font-size: x-large;
}

.extra-title {
  font-weight: 600;
}